In [36]:
import pandas as pd
import random
df = pd.read_excel('score.xlsx',index_col='지원번호')

In [37]:
df['요일'] = 0

In [ ]:
### 특정셀 부분을 수정
df.loc['1번','요일'] = 5
df.iloc[1,9] = 2

## 컬럼 전체를 수정
df['요일'] = 5

In [38]:
df.shape
# 랜덤으로 0-6까지 숫자 입력
for i in range(8):
  df.iloc[i,9] = random.randint(0,6)

In [39]:
def func(x):
  if x == 0: return "일요일"
  elif x == 1: return "월요일"
  elif x == 2: return "화요일"
  elif x == 3: return "수요일"
  elif x == 4: return "목요일"
  elif x == 5: return "금요일"
  elif x == 6: return "토요일"

In [40]:
df['요일'] = df['요일'].apply(func)

In [41]:
## 결과컬럼 생성
df['결과'] = '불합격'

## 국어점수가 60점이상이면 합격으로 수정하시오.
filt = (df['국어']>=60)
df.loc[filt,'결과'] = '합격'

In [ ]:
## 학교+등학교
## 키 + 'cm'

In [ ]:
## astype() 타입변경후 문자열 + 문자열
df['키'] =  df['키'].astype(str)+'cm'

In [43]:
df

       이름    학교      키   국어   영어   수학  과학  사회        SW특기   요일   결과
지원번호
1번    강나래   구로고  197cm   90   85  100  95  85      Python  금요일   합격
2번    강태원   구로고  184cm   40   35   50  55  25        Java  수요일  불합격
3번    강호림   구로고  168cm   80   75   70  80  75  Javascript  목요일   합격
4번    김수찬   구로고  187cm   40   60   70  75  80         NaN  일요일  불합격
5번    김재욱   구로고  188cm   15   20   10  35  10         NaN  목요일  불합격
6번    박동현  디지털고  202cm   80  100   95  85  80           C  월요일   합격
7번    박혜정  디지털고  188cm   55   65   45  40  35      PYTHON  화요일  불합격
8번    승근열  디지털고  190cm  100   85   90  95  95          C#  일요일   합격

In [51]:
# df.groupby('학교')['이름'].count()
# df.groupby('학교')['키'].mean()

In [59]:
df.groupby('학교')['이름'].count()
df.groupby('학교')['이름'].sum()

학교
구로고     강나래강태원강호림김수찬김재욱
디지털고          박동현박혜정승근열
Name: 이름, dtype: object

* 컬럼이 숫자가 아니면 실행이 안됨
* mean(), max(),min(), std()

In [62]:
df.groupby('학교')['국어'].mean()
df.groupby('학교')['국어'].count()
df.groupby('학교')['국어'].sum().sort_values(ascending=False)

학교
구로고     265
디지털고    235
Name: 국어, dtype: int64

In [66]:
df['학년'] = [3,3,2,1,1,3,2,2]

In [67]:
df.groupby(['학교','학년'])['국어'].agg(['mean','min','max','sum'])

         mean  min  max  sum
학교   학년
구로고  1   27.5   15   40   55
     2   80.0   80   80   80
     3   65.0   40   90  130
디지털고 2   77.5   55  100  155
     3   80.0   80   80   80