In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx',index_col='지원번호')

함수선언, 함수호출 : apply()

In [7]:
def add_cm(height):
  return str(height) + 'cm'

In [ ]:
## 함수 호출 : apply()
df['키'] = df['키'].apply(add_cm)

In [10]:
df['SW특기'] = df['SW특기'].str.lower()

In [ ]:
# 함수선언
def change(lang):  #lang타입 : str
  if pd.notnull(lang):
    return lang.upper()   # lang.str.upper() -> list에서 1개 str
  else:
    return 'PYTHON'

In [19]:
df['SW특기'].apply(change)

지원번호
1번        PYTHON
2번          JAVA
3번    JAVASCRIPT
4번        PYTHON
5번        PYTHON
6번             C
7번        PYTHON
8번            C#
Name: SW특기, dtype: object

In [11]:
df

       이름    학교      키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   구로고  197cm   90   85  100  95  85      python
2번    강태원   구로고  184cm   40   35   50  55  25        java
3번    강호림   구로고  168cm   80   75   70  80  75  javascript
4번    김수찬   구로고  187cm   40   60   70  75  80         NaN
5번    김재욱   구로고  188cm   15   20   10  35  10         NaN
6번    박동현  디지털고  202cm   80  100   95  85  80           c
7번    박혜정  디지털고  188cm   55   65   45  40  35      python
8번    승근열  디지털고  190cm  100   85   90  95  95          c#