In [12]:
import pandas as pd
df = pd.read_excel('score.xlsx',index_col='지원번호')

In [13]:
# 데이터 계산정보 확인
# df컬럼 중 number에 해당되는 데이터의 개수,평균,표준편차,최소값,최대값
# 문자에 관한 것은 수치계산이 나타나지 않음.
df.describe()

                키          국어          영어          수학         사회
count    8.000000    8.000000    8.000000    8.000000   8.000000
mean   188.000000   62.500000   65.625000   66.250000  60.625000
std      9.985704   29.519969   26.917533   30.325614  32.120032
min    168.000000   15.000000   20.000000   10.000000  10.000000
25%    186.250000   40.000000   53.750000   48.750000  32.500000
50%    188.000000   67.500000   70.000000   70.000000  77.500000
75%    191.750000   82.500000   85.000000   91.250000  81.250000
max    202.000000  100.000000  100.000000  100.000000  95.000000

In [ ]:
# df의 데이터 이름,크기,null값의 유무,타입 확인
# not-null개수 확인, null 개수 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1번 to 8번
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   학교      8 non-null      object
 2   키       8 non-null      int64
 3   국어      8 non-null      int64
 4   영어      8 non-null      int64
 5   수학      8 non-null      int64
 6   사회      8 non-null      int64
 7   SW특기    6 non-null      object
dtypes: int64(5), object(3)
memory usage: 576.0+ bytes

In [ ]:
# 상위5개
df.head()
# 하위5개
df.tail()

       이름   학교    키   국어   영어  수학  사회    SW특기
지원번호
4번    김수찬  구로고  187   40   60  70  80     NaN
5번    김재욱  가산고  188   15   20  10  10     NaN
6번    박동현  가산고  202   80  100  95  80       C
7번    박혜정  구로고  188   55   65  45  35  PYTHON
8번    승근열  구로고  190  100   85  90  95      C#

In [ ]:
# 배열구조
df.values # 배열구조확인
df.index  # 배열 index
df.columns # 상단 컬럼 확인
df.index[0]
df.index[1:3] #index슬라이싱

# 컬럼의 0번째 확인
df.columns[0]
df.columns[0:3] # columns 슬라이싱

# df 크기확인
df.shape

(8, 8)

In [38]:
df = pd.read_excel('pandas_code.xlsx')
df.head()
df.tail()
df.shape

(1000, 7)