In [1]:
import pandas as pd

In [5]:
data = {
    '영화' : ['명량', '극한직업', '신과함께-죄와 벌', '국제시장', '괴물', '도둑들', '7번방의 선물', '암살'],
    '개봉 연도' : [2014, 2019, 2017, 2014, 2006, 2012, 2013, 2015],
    '관객 수' : [1761, 1626, 1441, 1426, 1301, 1298, 1281, 1270], # (단위 : 만 명)
    '평점' : [8.88, 9.20, 8.73, 9.16, 8.62, 7.64, 8.83, 9.10]
}

# index 영화로 지정하고, 역순정렬을 하시오.
df = pd.DataFrame(data)
df.set_index('영화',inplace=True)
df.sort_index(ascending=False, inplace=True)
df

           개봉 연도  관객 수    평점
영화
암살          2015  1270  9.10
신과함께-죄와 벌   2017  1441  8.73
명량          2014  1761  8.88
도둑들         2012  1298  7.64
극한직업        2019  1626  9.20
국제시장        2014  1426  9.16
괴물          2006  1301  8.62
7번방의 선물     2013  1281  8.83