* 졸음운전교통사고 3개를 병합
* 사고가 가장 많이 난 횟수 상위5개를 출력하시오.
* 사망자 평균을 출력하시오.

In [ ]:
import pandas as pd
df1 = pd.read_csv('2014년졸음운전교통사고.csv',encoding='euc-kr')
df1
df2 = pd.read_csv('2015년졸음운전교통사고.csv',encoding='euc-kr')
df2
df3 = pd.read_csv('2016년졸음운전교통사고.csv',encoding='euc-kr')
df3
# 3개의 DataFrame 병합 : concat
df = pd.concat([df1,df2,df3])

In [8]:
df.describe()

            사고(건)      사망(명)       부상(명)
count   36.000000  36.000000   36.000000
mean   210.000000   9.333333  419.527778
std     28.016322   4.007136   66.608230
min    145.000000   3.000000  268.000000
25%    190.750000   7.000000  366.250000
50%    211.500000   9.000000  418.500000
75%    227.500000  12.250000  474.250000
max    273.000000  19.000000  556.000000

In [14]:
df['사고(건)'].nlargest(5)
df['사고(건)'].head()
df['사고(건)'].tail()
df['사고(건)'].nsmallest(5)

df['사망(명)'].mean()
df['사망(명)'].max()
df['사망(명)'].describe()

count    36.000000
mean      9.333333
std       4.007136
min       3.000000
25%       7.000000
50%       9.000000
75%      12.250000
max      19.000000
Name: 사망(명), dtype: float64