In [1]:
import pandas as pd
data = {
  '이름':['강나래','강태원','강호림','김수찬','김재욱','박동현','박혜정','승근열'],
  '학교':['구로고','구로고','가산고','구로고','가산고','가산고','구로고','구로고'],
  '키':[197,184,168,187,188,202,188,190],
  '국어':[90,40,80,40,15,80,55,100],
  '영어':[85,35,75,60,20,100,65,85],
  '수학':[100,50,70,70,10,95,45,90],
  '사회':[85,25,75,80,10,80,35,95],
  'SW특기':['Python','Java','Javascript','','','C','PYTHON','C#']
}
# index지정
df = pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8번'])
# index에 이름을 설정
df.index.name = '지원번호'
df

       이름   학교    키   국어   영어   수학  사회        SW특기
지원번호
1번    강나래  구로고  197   90   85  100  85      Python
2번    강태원  구로고  184   40   35   50  25        Java
3번    강호림  가산고  168   80   75   70  75  Javascript
4번    김수찬  구로고  187   40   60   70  80
5번    김재욱  가산고  188   15   20   10  10
6번    박동현  가산고  202   80  100   95  80           C
7번    박혜정  구로고  188   55   65   45  35      PYTHON
8번    승근열  구로고  190  100   85   90  95          C#

파일저장 : csv,txt,excel 3가지 방식

In [2]:
# csv 파일로 저장 : excel 확인시 한글인식 utf-8-sig설정
df.to_csv('score.csv',encoding='utf-8-sig')

In [3]:
# index번호 제외하고 저장
df.to_csv('score.csv',encoding='utf-8-sig',index=False)

In [ ]:
# csv: comma-separated values, 구분자설정 : sep
df.to_csv('score.csv',sep='\t' ,encoding='utf-8-sig')

In [3]:
# txt파일 저장
df.to_csv('score.txt',encoding='utf-8')

In [4]:
# excel 파일 저장
df.to_excel('score.xlsx')