In [1]:
import pandas as pd
df = pd.read_excel('pandas_code.xlsx')
df.describe()
df['수학'].describe()

count    1000.000000
mean       72.397000
std        16.236595
min        45.000000
25%        59.000000
50%        72.000000
75%        86.000000
max       100.000000
Name: 수학, dtype: float64

기본 수치계산에 대한 개별 정보

In [2]:
df['수학'].min() # 최소값
df['수학'].max() # 최대값
df['수학'].mean() # 평균
df['수학'].std()  # 표준편차
df['수학'].nlargest(3) # 최대값 3명 출력
df['수학'].nsmallest(3) # 최소값 3명 출력

18     45
117    45
188    45
Name: 수학, dtype: int64

In [ ]:
df = pd.read_excel('score.xlsx')
df['키'].min()
df['키'].max()
df['키'].mean()
df['키'].nlargest(3) # 최대값 기본5명, 숫자를 입력하면 숫자만큼 가져옴.
df['키'].nsmallest() # 최소값 5명
df['국어'].sum()     # 총합
df['키'].count()     # 개수
df['SW특기'].count()
df['학교'].unique()   # 중복제거 데이터 확인
df['학교'].nunique()  # 중복제거 개수 확인

2

In [29]:
df

  지원번호   이름   학교    키   국어   영어   수학  사회        SW특기
0   1번  강나래  구로고  197   90   85  100  85      Python
1   2번  강태원  구로고  184   40   35   50  25        Java
2   3번  강호림  가산고  168   80   75   70  75  Javascript
3   4번  김수찬  구로고  187   40   60   70  80         NaN
4   5번  김재욱  가산고  188   15   20   10  10         NaN
5   6번  박동현  가산고  202   80  100   95  80           C
6   7번  박혜정  구로고  188   55   65   45  35      PYTHON
7   8번  승근열  구로고  190  100   85   90  95          C#

In [28]:
# 컬럼에 대한 확인
df['키']          # 컬럼 1개확인
df[['이름','키']]  # 컬럼 복수확인
df[['이름','키','학교']]
df['키'],df['이름']

# 모든 컬럼 확인
df.columns
df.columns[0] # 컬럼명 0번째 확인
df.columns[2]
df.columns[2:5] # 컬럼명 슬라이싱
df['이름']      # 컬럼의 데이터 확인
df.columns[-1]
# 컬럼데이터 확인 - 제일마지막 컬럼의 데이터를 확인할때
# df['SW특기']
df[df.columns[-1]]  # 컬럼의 마지막 데이터 확인
df[df.columns[[0,3,-1]]] # 0번째,3번째,마지막 컬럼 데이터 확인

  지원번호    키        SW특기
0   1번  197      Python
1   2번  184        Java
2   3번  168  Javascript
3   4번  187         NaN
4   5번  188         NaN
5   6번  202           C
6   7번  188      PYTHON
7   8번  190          C#

  지원번호    키        SW특기
0   1번  197      Python
1   2번  184        Java
2   3번  168  Javascript
3   4번  187         NaN
4   5번  188         NaN
5   6번  202           C
6   7번  188      PYTHON
7   8번  190          C#