졸음운전교통사고 파일을 불러와서 출력하시오.

In [15]:
# 구분 : index지정

import pandas as pd
# euc-kr
# df1 = pd.read_csv('2014년졸음운전교통사고.csv',encoding='euc-kr',index_col='구분')
# df1
# utf-8 저장된 파일 불러오기
# df1_2 = pd.read_csv('2014년졸음운전교통사고2.csv',encoding='utf-8-sig',index_col='구분')
# df1_2
# df2 = pd.read_csv('2015년졸음운전교통사고.csv',encoding='euc-kr',index_col='구분')
# df2
# df3 = pd.read_csv('2016년졸음운전교통사고.csv',encoding='euc-kr')
# df3.set_index('구분',inplace=True)
# df3

In [ ]:
df1 = pd.read_csv('2014년졸음운전교통사고.csv',encoding='euc-kr')
df1
df2 = pd.read_csv('2015년졸음운전교통사고.csv',encoding='euc-kr')
df2
df3 = pd.read_csv('2016년졸음운전교통사고.csv',encoding='euc-kr')
df3

# DataFrame을 병합 : concat
df = pd.concat([df1,df2,df3])
df

          구분  사고(건)  사망(명)  부상(명)
0    2014년1월    169      7    347
1    2014년2월    145      3    268
2    2014년3월    206     12    358
3    2014년4월    182      4    360
4    2014년5월    218     17    474
5    2014년6월    233     13    457
6    2014년7월    229     14    431
7    2014년8월    222      9    447
8    2014년9월    225     15    430
9   2014년10월    210     14    392
10  2014년11월    209     10    386
11  2014년12월    178     12    329
0    2015년1월    205      8    375
1    2015년2월    175      8    375
2    2015년3월    237      4    492
3    2015년4월    227     10    486
4    2015년5월    231      9    504
5    2015년6월    207      8    401
6    2015년7월    273      7    556
7    2015년8월    268     19    534
8    2015년9월    252     10    501
9   2015년10월    214     14    475
10  2015년11월    199      3    398
11  2015년12월    213      8    428
0    2016년1월    192      5    387
1    2016년2월    174      6    328
2    2016년3월    217      7    435
3    2016년4월    216      7    419
4    2016년5월    239     13    522
5    2016년6월    200     12    362
6    2016년7월    227      9    460
7    2016년8월    230      7    490
8    2016년9월    187     13    347
9   2016년10월    183     10    367
10  2016년11월    200      5    418
11  2016년12월    168      4    364