In [2]:
import pandas as pd
import numpy as np
df = pd.read_excel('score.xlsx',index_col='지원번호')

In [6]:
df

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python
2번    강태원   구로고  184   40   35   50  55  25        Java
3번    강호림   구로고  168   80   75   70  80  75  Javascript
4번    김수찬   구로고  187   40   60   70  75  80         NaN
5번    김재욱   구로고  188   15   20   10  35  10         NaN
6번    박동현  디지털고  202   80  100   95  85  80           C
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON
8번    승근열  디지털고  190  100   85   90  95  95          C#

In [8]:
df.groupby('학교').count()

      이름  키  국어  영어  수학  과학  사회  SW특기
학교
구로고    5  5   5   5   5   5   5     3
디지털고   3  3   3   3   3   3   3     3

In [12]:
df.groupby('학교').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
### 그룹화
# 해당되는 그룹의 리스트 보여줌
# df.groupby('학교').get_group('구로고')
# df.groupby('학교').mean()
df.groupby('학교').size()  # 해당 학교 학생수 확인 
df.groupby('학교').size()['구로고']  
df.groupby('학교').size()['디지털고']  
df.groupby('학교')['키'].mean()  # 학교별 키의 평균값 출력

학교
구로고     184.800000
디지털고    193.333333
Name: 키, dtype: float64