In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('chipotle.tsv',sep="\t")
df.tail(2)

,order_id,quantity,item_name,choice_description,item_price
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [3]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [4]:
### lamda 함수 적용
df['item_price'] = df['item_price'].apply(lambda x:float(x[1:]))

In [5]:
## 함수를 사용해서
## item_price $부분을 없애고, float타입으로 변경해서 입력하시오.
def func(x):
  return float(x[1:])

### 함수호출
df['item_price'] = df['item_price'].apply(func)
df.head(3)

TypeError: 'float' object is not subscriptable

In [ ]:
df['item_price'].sum()
df['item_price'].mean()
df['item_price'].max()

np.float64(44.25)

In [ ]:
df.sort_values('item_price',ascending=False).head(30)

,order_id,quantity,item_name,choice_description,item_price
1327,542,1,Steak Crispy Tacos,"[Roasted Chili Corn Salsa (Medium), [Rice, Che...",99.0
1306,532,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",99.0
1304,531,1,Chips and Guacamole,NaN,99.0
50,23,1,Steak Burrito,"[Roasted Chili Corn Salsa (Medium), [Rice, Faj...",99.0
49,22,1,Chips and Guacamole,NaN,99.0
48,22,1,Steak Burrito,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",99.0
46,21,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Fajit...",99.0
1439,584,1,Chips and Guacamole,NaN,99.0
1274,519,1,Chips and Guacamole,NaN,99.0
1462,594,1,Carnitas Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",99.0
1451,589,1,Steak Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Rice, Cheese]]",99.0
1253,510,1,Chips and Guacamole,NaN,99.0
1246,508,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese]]",99.0
1475,599,1,Steak Bowl,"[Roasted Chili Corn Salsa (Medium), [Rice, Che...",99.0
1468,596,1,Chips and Guacamole,NaN,99.0
1535,624,1,Chips and Guacamole,NaN,99.0
1532,624,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Red Chi...",99.0
1531,623,1,Barbacoa Burrito,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",99.0
1510,614,1,Steak Burrito,"[[Roasted Chili Corn Salsa (Medium), Tomatillo...",99.0
4509,1793,1,Chips,NaN,99.0
4508,1793,1,Steak Burrito,[Brown Rice],99.0
65,29,1,Steak Soft Tacos,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",99.0
64,29,1,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",99.0
54,25,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",99.0
1215,496,1,Steak Burrito,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",99.0
1214,496,1,Chips and Guacamole,NaN,99.0
1212,495,1,Carnitas Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",99.0
1195,490,1,Carnitas Crispy Tacos,"[Tomatillo-Green Chili Salsa (Medium), [Fajita...",99.0
1584,641,1,Barbacoa Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Rice, ...",99.0
1646,665,1,Chips and Guacamole,NaN,99.0

In [6]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [24]:
# item_name으로 그룹핑을 해서 개수를 나열한 것.
df.groupby('item_name').value_counts().head(20)

item_name          order_id  quantity  choice_description  item_price
6 Pack Soft Drink  129       1         [Sprite]            6.49          1
                   148       1         [Diet Coke]         6.49          1
                   154       1         [Coke]              6.49          1
                   168       1         [Diet Coke]         6.49          1
                   182       1         [Diet Coke]         6.49          1
                   230       1         [Diet Coke]         6.49          1
                   264       1         [Diet Coke]         6.49          1
                   298       1         [Nestea]            6.49          1
                   306       1         [Coke]              6.49          1
                   363       1         [Coke]              6.49          1
                   422       1         [Sprite]            6.49          1
                   432       1         [Coke]              6.49          1
                   465       1         [Coke]              6.49          1
                   481       1         [Coke]              6.49          1
                   511       1         [Coke]              6.49          1
                   520       1         [Sprite]            6.49          1
                   566       1         [Diet Coke]         6.49          1
                   708       1         [Coke]              6.49          1
                   709       1         [Diet Coke]         6.49          1
                   749       1         [Coke]              6.49          1
Name: count, dtype: int64