In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('chipotle.tsv',sep="\t")
df.tail(2)

,order_id,quantity,item_name,choice_description,item_price
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
### 메뉴별 주문수량을 출력하시오.

### 메뉴별 총주문량을 출력하시오.

### 주문당 평균 계산금액을 출력하시오.

### 아이템별 가격 금액을 출력을 하시오.

### 주문별, 높은 가격순으로 주문 개수를 출력하시오.

## 주문당 평균 계산금액을 출력하시오.